In [1]:
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
import altair as alt

In [2]:
mob_data = pd.read_csv("city_mobility.csv" )

In [3]:
mob_data.head()

      city        date transportation_type    flow
0  Belfast  2020-01-13             driving  100.00
1  Belfast  2020-01-13             walking  100.00
2  Belfast  2020-01-13             transit  100.00
3  Belfast  2020-01-14             driving  108.49
4  Belfast  2020-01-14             walking  116.70

In [5]:
cities = list(mob_data['city'].unique())
modes = list(mob_data['transportation_type'].unique())

In [6]:
mob_data['date'] = pd.to_datetime(mob_data['date'])

In [7]:
mode = "driving"
city = "Belfast"

In [16]:
mode_filtered_df = mob_data[(mob_data['transportation_type'] == mode) & (mob_data['city'] == city)]

In [17]:
mode_filtered_df

         city       date transportation_type    flow
0     Belfast 2020-01-13             driving  100.00
3     Belfast 2020-01-14             driving  108.49
6     Belfast 2020-01-15             driving  111.95
9     Belfast 2020-01-16             driving  124.10
12    Belfast 2020-01-17             driving  125.70
...       ...        ...                 ...     ...
2448  Belfast 2022-04-08             driving  193.98
2451  Belfast 2022-04-09             driving  193.81
2454  Belfast 2022-04-10             driving  150.56
2457  Belfast 2022-04-11             driving  170.56
2460  Belfast 2022-04-12             driving  182.96

[821 rows x 4 columns]

In [18]:
plot_df = mode_filtered_df.set_index("date") \
.drop(columns = "transportation_type")

In [ ]:

lines = (
    alt.Chart(plot_df)
    .mark_line()
    .encode(x="date", y="flow")
)

xrule = (
    alt.Chart()
    .mark_rule(color="cyan", strokeWidth=2)
    .encode(x=alt.datum(alt.DateTime(year=2020, month="March")))
)

# yrule = (
#     alt.Chart().mark_rule(strokeDash=[12, 6], size=2).encode(y=alt.datum(350))
# )


lines + xrule